/****** PLACE YOUR CUSTOM STYLES HERE ******/

body {
  background: white;
}

/* body {
  position: relative;
}
$('div').scrollspy({ target: '#About Company ' })
$('div').scrollspy({ target: '#Marketing Strategy ' }) */

#container {
  width: 10px;
  margin: 10px 0 0 80px;

}


/ THIS IS THE BOX STUFF BELOW /

.box {
/*   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid greenyellow;
  letter-spacing: normal;
  overflow: hidden;
  display: block;
  background: lightgoldenrodyellow; */
  box-shadow: 80px 80px 80px 80px rgba(0.14, 0.14, 0.14, 0.14); */
  border-radius: 4px;
  margin-top: 8px;
  float: repeat;
  width: 292px;
  height: 80px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.box:hover {
  cursor:pointer;
  -moz-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(-2px) translateY(-2px) skewX(0deg) skewY(0deg);
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.10);
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
box:active{
  border: solid blue !important;
}
.box:focus {
/*   outline:none !important;
  background: blue;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14);
  box-sizing: center;
  cellspacing= "align-content";
  cellpadding= "align-content";
  border:normal;
  border-left:5px solid;
  border-color:solid greenyellow;
  border-radius: 3px; */
  -moz-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(-2px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
